.ui-dialog.bav {
  overflow:hidden !important;
}

.ui-dialog.bav .ui-dialog-title {
  background-image:url('../../bav/img/bav-color.svg');
  background-size:18px;
  background-repeat:no-repeat;
  background-origin:padding-box;
  background-position:left middle;
  padding-left: 2em;
}

.bank-account-validator td.label {
  padding-right: 1em;
}

.bank-account-validator input {
  width:16em !important;
}

.bank-account-validator input.bankAccountBankName {
  background-color:#FFF;
  opacity:0.5;
  color: #000;
  min-width:32em;
  width:32em;
}

#bav-container {
  width:32em;
  min-width:40em;
  max-width:40em;
}