/* Make the dialog window appear over OC's global navigation bar,
 * otherwise the dialog title-bar, which is at the same time the handle
 * for moving the window, could disappear below the navigation bar.
 */
.ui-dialog.bav {
  overflow:hidden !important;
  max-width:none;
  z-index:2000;
  padding:0px;
}

.ui-dialog.bav ~ .oc-dialog {
  z-index:2000;
}

.ui-dialog.bav .ui-dialog-buttonpane {
  max-width:none;
  border: 1px solid #DDD;
background: #EEE url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top;
color: #333;
}

.ui-dialog.bav .ui-dialog-title {
  background-image:url('../../bav/img/bav-color.svg');
  background-size:18px;
  background-repeat:no-repeat;
  background-origin:padding-box;
  background-position:left middle;
  padding-left: 2em;
}

.ui-widget-content.bav {
  border: 1px solid #DDD;
  background: #EEE url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top;
  color: #333;
}

.bank-account-validator td.label {
  padding-right: 1em;
}

.bank-account-validator input {
  width:16em !important;
}

.bank-account-validator input.bankAccountBankName {
  background-color:#FFF;
  opacity:0.5;
  color: #000;
  min-width:32em;
  width:32em;
}

#bav-container {
  width:32em;
  min-width:44em;
  max-width:44em;
}

div.bavhelp {
  max-width: 44em
}

div.bavhelp a:link {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-weight:bold;
}
div.bavhelp a:visited {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-weight:bold;
}
div.bavhelp a:hover {
  color:CornFlowerBlue;
  text-decoration:underline;
  font-style:italic;
  font-weight:bold;
}

/*
 * LocalVariables: ***
 * css-indent-offset: 2 ***
 * End: ***
 */
